@mixin button{
  padding: 0px 30px;
  background-color: $dim_gray;
  color: $gainsboro;
  font-size: 23px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 0px;
}

@mixin input{
  padding: 9px 13px;
  width: 350px;
  height: 40px;
  font-size: 15px;
  border: 2px solid $dim_gray;
  outline: none;
}
