.insta {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__header {
    width: 90%;
    text-align: center;
    font-size: 25px;
    color: $dim_gray;
  }

  &__gallery {
    height: 350px;
    padding: 20px 5px 20px 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    will-change: transform;
    position: relative;
    cursor: url("~img/main_page/cursor.png"), auto;
  }
}
.insta__gallery::-webkit-scrollbar {
  display: none;
}

.pic{
  width: 350px;
  height: 350px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:nth-of-type(1) {
    background: url("~img/insta_gallery/insta-gallery-i1.jpg");
    background-size: cover;

  }

  &:nth-of-type(2) {
    background: url("~img/insta_gallery/insta-gallery-i2.jpg");
    background-size: cover;
  }

  &:nth-of-type(3) {
    background: url("~img/insta_gallery/insta-gallery-i3.jpg");
    background-size: cover;
  }

  &:nth-of-type(4) {
    background: url("~img/insta_gallery/insta-gallery-i4.jpg");
    background-size: cover;
  }

  &:nth-of-type(5) {
    background: url("~img/insta_gallery/insta-gallery-i5.jpg");
    background-size: cover;
  }

  &:nth-of-type(6) {
    background: url("~img/insta_gallery/insta-gallery-i6.jpg");
    background-size: cover;
  }

  &:nth-of-type(7) {
    background: url("~img/insta_gallery/insta-gallery-i7.jpg");
    background-size: cover;
  }

  &:nth-of-type(8) {
    background: url("~img/insta_gallery/insta-gallery-i8.jpg");
    background-size: cover;
  }

  &:nth-of-type(9) {
    background: url("~img/insta_gallery/insta-gallery-i9.jpg");
    background-size: cover;
  }

  &:nth-of-type(10) {
    background: url("~img/insta_gallery/insta-gallery-i10.jpg");
    background-size: cover;
  }

  &:nth-of-type(11) {
    background: url("~img/insta_gallery/insta-gallery-i11.jpg");
    background-size: cover;
  }

  &__info {
    opacity: 0;
    background: hsla(196, 100%, 0%, 0.5);
    transition: .3;
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $gainsboro;

    p, span {
      margin-left: 5px;
    }

    span:nth-of-type(1) {
      width: 18px;
      height: 18px;
      display: block;
      background: url("~img/svg_icons/heart.svg") center no-repeat;
      background-size: contain;
    }

    span:nth-of-type(2) {
      width: 18px;
      height: 18px;
      display: block;
      background: url("~img/svg_icons/comment.svg") center no-repeat;
      background-size: contain;
    }
  }
}
