@import 'base/typography';
@import 'base/reset';
@import 'components/navigation';
@import 'components/button';
@import 'components/footer';
@import 'components/magic-mouse';
@import 'components/hamburger';

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $gainsboro;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
