@import 'base/typography';
@import 'base/reset';
@import 'components/navigation';
@import 'components/button';
@import 'components/footer';
@import 'components/magic-mouse';
@import 'components/hamburger';

@import 'sections/hero';
@import 'sections/about';
@import 'sections/quotation';
@import 'sections/gallery';
@import 'sections/warranty';
@import 'sections/discounts';
@import 'sections/insta-gallery';

@import 'pages/shop-page';
@import 'pages/about-page';
@import 'pages/help-page';
@import 'pages/login-page';
@import 'pages/bag-page';

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $gainsboro;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  display: none;
  width: 100%;
  height: 100%;
}

.active {
  display: block;
}

@media(max-width: 840px) {
  aside {
    display: none;
  }
  .nav{
    top: 0px;
  }

  .about {
    flex-direction: column;

    &__logo {
      width: 70%;
      height: 150px;
    }

    &__hr {
      width: 90%;
      height: 2px;
    }

    &__description {
      width: 70%;
      margin-top: 20px;
      margin-left: 0;
      text-align: center;
    }
  }

  .warranty {
    margin-top: 20px;
    padding-top: 70px;
    height: 400px;


    &__container {
      width: 100%;
      margin: 0 auto;
      color: $dim_gray;
      text-align: center;
      padding: 20px;

      h1 {
        font-size: 30px;
      }

      p {
        margin-bottom: 20px;
      }
    }
  }

  .gallery {
    width: 100%;
    height: 900px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
  }

  .discounts {
    margin-bottom: 20px;

    &__wrapper {
      width: 90%;
      display: grid;
      grid-template-rows: 1fr 1fr;
    }
    &___sale {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
    &__image {
      display: none;
    }

    &__info {
      margin-left: 0;
      width: 70%;
    }

    .info--bottom{
      margin-right: 0;
      margin-left: auto;
    }
  }
  .insta__gallery{
    height: 200px;
    .pic{
      height: 200px;
      width: 200px;
    }
  }
}

@media(max-width: 550px) {
  .quotation {
    width: 100%;
    height: 100px;
    display: flex;
    padding-top: 40px;
    justify-content: center;
    align-items: center;

    &__container {
      h1 {
        font-weight: lighter;
        font-style: italic;
        font-size: 20px;
        margin-bottom: 20px;
      }

      h2 {
        font-weight: lighter;
        font-size: 15px;
      }

      .quote {
        width: 20px;
        height: 20px;
      }

      .quote--left {
        left: -20px;
      }

      .quote--right {
        right: -20px;
      }
    }
  }
}
